.ColorShades {
    width: 20%;
    height: 25%;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-bottom: -3.5px;
}

.copy-btn {
    margin: 0 auto;
    width: 90px;
    height: 35px;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center; 
    margin-left: -45px;
    margin-top: -15px;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    line-height: 25px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    opacity: 0;
}

.ColorShades:hover .copy-btn {
    opacity: 1;
    transition: 0.5s;
    cursor: pointer;
}
.color-content {
    position: absolute;
    padding: 10px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.color-overlay {
    opacity: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease-in-out;
    transform: scale(0.1)

}
.color-overlay.display {
    opacity: 1;
    transform: scale(50);
    z-index: 10;
    position: absolute;
}

.show-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 1rem;
    transform: scale(0.1);
    opacity: 0;
    color: #fff;


}

.show-msg.display {
    opacity: 1;
    transform: scale(1);
    z-index: 25;
    transition: all 0.4s ease-in-out;
    transition-delay: 0.3s;
}

.show-msg h1 {
    font-weight: 300;
    text-shadow: 1px 2px #000;
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    padding: 1rem;
}
.show-msg p {
    font-size: 1.8rem;
    font-weight: 100;
}