.ColorShades {
    width: 20%;
    height: 25%;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.copy-btn {
    margin: 0 auto;
    width: 90px;
    height: 35px;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center; 
    margin-left: -45px;
    margin-top: -15px;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    line-height: 25px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    opacity: 0;
}

.ColorShades:hover .copy-btn {
    opacity: 1;
    transition: 0.5s;
    cursor: pointer;
}